<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/s44.png" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
  
      <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M93GZHMT');</script>
<!-- End Google Tag Manager -->
</head>
<body class="bg-zinc-900">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M93GZHMT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    {% include "header.njk" %}

    {{content | safe}}

    {% include "footer.njk" %}
    
  







<script>
 function myFunction() {
  const searchInput = document.getElementById("myInput");
  const searchTerm = searchInput.value.toLowerCase(); // Ensure case-insensitive search
  const searchResultsContainer = document.querySelector("[data-search-results]"); // Target container for search results
  const searchResults = searchResultsContainer.querySelectorAll("[data-search-item]"); // Select all search items

  // Filter search results based on search term
  searchResults.forEach(searchResult => {
    const searchItemText = searchResult.textContent.toLowerCase();
    const match = searchItemText.includes(searchTerm);

    searchResult.style.display = match ? "block" : "none";
  });
}

</script>

  <script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>