<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/d032355450.js" crossorigin="anonymous"></script>
</head>
<body class="bg-zinc-900">

    {% include "header.njk" %}

    {{content | safe}}

    {% include "footer.njk" %}
    
  







<script>
 function myFunction() {
  const searchInput = document.getElementById("myInput");
  const searchTerm = searchInput.value.toLowerCase(); // Ensure case-insensitive search
  const searchResultsContainer = document.querySelector("[data-search-results]"); // Target container for search results
  const searchResults = searchResultsContainer.querySelectorAll("[data-search-item]"); // Select all search items

  // Filter search results based on search term
  searchResults.forEach(searchResult => {
    const searchItemText = searchResult.textContent.toLowerCase();
    const match = searchItemText.includes(searchTerm);

    searchResult.style.display = match ? "block" : "none";
  });
}

</script>

    
</body>
</html>