---
 layout: base.njk
---
<section class="container px-[10%] rounded-3xl py-16 grid grid-cols-2 gap-8 items-center text-gray-400 bg-zinc-950 mt-16">
<div class="grid justify-self-center">
   
    <img class="w-48 mb-4" src="{{image}}" alt="{{image-alt}}">
    <p class="pr-8 text-2xl font-light">{{description2}}</p>
    <p class="text-lg  text-sky-500 my-8">Tags: {{type}}</p>
</div>  
    <div class="leading-[3rem] text-2xl ">
      
        <p class=" text-4xl font-bold text-sky-500">{{title}}</p>
        <p>{{subtitle}}</p>
        <p>{{description}}</p>
        <p>License: <span class="text-sky-500">{{license}}</span></p>
        <div class="mt-8 gap-8">
        <!-- <a href="{{github}}" class="border border-sky-500 bg-sky-500 text-zinc-800 px-16 py-1 hover:text-sky-500 hover:bg-transparent duration-500 transition ease-in-out  rounded-full">Github</a> -->
        <a href="{{link}}" class="border border-sky-500 text-sky-500 px-16 py-1 rounded-full hover:text-zinc-800 hover:bg-sky-500 duration-500 transition ease-in-out">Visit Website</a>
        </div>
    </div>
   
</section>
<section class="mt-8 container bg-zinc-950 px-4 rounded-3xl">
    <p class="py-8 text-sky-500 text-2xl">Related tools . . .</p>
    <ul class="grid grid-cols-6 gap-4 w-full py-8" id="searchResults">
        {% for tools in collections.tools  %}
        {%- if loop.index0 < 6 %}
        <a href="{{tools.url}}" 
           class="hover:-mt-3 hover:transition hover:duration-700 hover:ease-in-out search-item" 
           data-tags="{{ tools.data.tags | join(' ') }}" 
           data-title="{{ tools.data.title }}">
          <li class="bg-zinc-900 p-8 rounded-3xl">
            <p class="text-pink-500 text-lg pb-4 text-right">{{ tools.data.type }}</p>
            <img src="{{ tools.data.image }}" alt="{{ tools.data.image-alt }}" class="w-28 rounded-full">
            <div class="">
              <h1 class="text-sky-500 py-4 text-2xl">{{ tools.data.title }}</h1>
              <p class="line-clamp-2">{{ tools.data.subtitle }}</p>
            </div>
          </li>
        </a>
        {% endif %}
        {% endfor %}
      </ul>
</section>