---
 layout: base.njk
---
<section class="container px-[10%] rounded-3xl py-16 grid grid-cols-2 gap-8 items-center text-gray-400 bg-zinc-950 mt-16">
<div class="grid justify-self-center">
   
    <img class="w-48 mb-4" src="{{image}}" alt="{{image-alt}}">
    <p class="pr-8 text-2xl font-light">{{description2}}</p>
    <p class="text-lg  text-sky-500 my-8">Tags: {{type}}</p>
</div>  
    <div class="leading-[3rem] text-2xl ">
      
        <p class=" text-4xl font-bold text-sky-500">{{title}}</p>
        <p>{{subtitle}}</p>
        <p>{{description}}</p>
        <p>{{license}}</p>
        <div class="mt-8 gap-8">
        <a href="{{github}}" class="border border-sky-500 bg-sky-500 text-zinc-800 px-16 py-1 hover:text-sky-500 hover:bg-transparent duration-500 transition ease-in-out  rounded-full">Github</a>
        <a href="{{link}}" class="border border-sky-500 text-sky-500 px-16 py-1 rounded-full hover:text-zinc-800 hover:bg-sky-500 duration-500 transition ease-in-out">Visit Website</a>
        </div>
    </div>
   
</section>