<header class="bg-white">
<div class=" container text-gray-300 flex justify-between items-center py-4 px-16 text-zinc-900">
   
    <a href="/wp">
    <img class="w-36" src="/assets/sub-wp.png" alt="main-logo">
</a>

    <nav>
        <ul class="flex gap-6">
            <li><a href="/wp-themes">Themes</a></li>
            <li><a href="/wp-plugins">Plugins</a></li>
            <li><a href="/wp-premium">Premium</a></li>
          
        </ul>
    </nav>
</div>
</header>