---
 layout: wp-base.njk
 title: Download Free Themes & Plugins
---
<div class="bg-white pt-16">
<section class="container justify-self-center rounded-3xl bg-gray-200 h-[30vh] w-full py-4 shadow shadow-xl">
<p class="text-center text-sky-900 text-6xl font-normal py-8 px-[10%]">DOWNLOAD THEMES & PLUGINS FOR <span class='text-sky-500'>FREE</span>.</p>
    <form class=" mx-auto w-[800px]">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-xl text-gray-900  rounded-lg bg-zinc-900 dark:placeholder-gray-400 dark:text-white " placeholder="Search . . ." required />
            <button type="submit" class="text-zinc-800 absolute end-2.5 bottom-2.5 bg-sky-500 hover:bg-sky-600   rounded-lg text-lg px-8 py-2 ">Search</button>
        </div>
    </form>
</section>
<section class="container ">
    <div class="px-[10%]  rounded-3xl bg-gray-200 w-full py-4 text-gray-400 text-lg mt-4">
    <ul class="grid grid-cols-3 gap-6 w-full py-16 ">

        {% for wp in collections.latest %}
        <a href="{{wp.url}}">
            <li class="bg-white p-8 rounded-3xl  h-auto shadow shadow-xl">
                <img src="{{wp.data.image}}" alt="{{wp.data.image-alt}}" class="w-[300px] ">
                <div>
                    <p class="text-sky-800 pt-6 pb-4 text-2xl">{{wp.data.title}}</p>
                    <p class="text-zinc-900">{{wp.data.type}}</p>
                </div>

            </li>

        </a>
        {% endfor %}
    </ul>  
    
    
    </div>
    
    
    
</section>
</div>